# Модель Silero – не должна распространяться в репозитории
model.pt

# Конфигурация пользователя (область, голос)
config.json

# Виртуальное окружение Python
venv/
env/
.venv/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы сборки PyInstaller
build/
dist/
*.spec

# Временные файлы и папки
*.log
*.tmp
.DS_Store
Thumbs.db

# Настройки IDE
.vscode/
.idea/

run_genshin.bat