# Модель Silero
model.pt

# Конфиг пользователя
config.json

# Батник для запуска
run_genshin.bat

# Виртуальные окружения и сборки
venv/
build_env/
build/
dist/
specfile/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Временные файлы
*.log
*.tmp
.DS_Store
Thumbs.db

# Настройки IDE
.vscode/
.idea/
genshin_voice.py